<div class="image">
  <nav class="sticky" #menu>
    <div class="logo">
      <img src="assets/images/Logo1.png" alt="">
    </div>
    <div class="navlist">
        <ul>
            <li>
              <a class="notify" [routerLink]="['/']">
                <span>Download My CV</span>
                <span class="badge" ></span>
              </a>
            </li>
        </ul>
    </div>
  </nav>
  <div class="text">
    <div>
      <h1>
        Hello, My Name Is Boitumelo Rampete.
        I'm a Software Engineer
      </h1>
    </div>
  </div>
  <div class='icon-scroll' (click)="Scroll(target)">
  </div>
  <img class="back" src="assets/images/landing2.jpg" alt="back">
</div>
<section class="intro" #target>
  <h1>Here's a Video Introduction</h1>
</section>

<div class="intro2" >
  <div class="description">
    <h1>Summary</h1>
    

  </div>
  <div class="video">
    <iframe width="100%" height="720" src="https://www.youtube.com/embed/ZwMd2z_iM0Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>


